body {
    background-image: url('./resources/gradienta-t-Rt42Wl1RQ-unsplash.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.container {
    padding-top: 70px;
}

.indent {
    margin-left: 10px;
}

table {
    border-collapse: collapse;
    margin: auto;
    margin-top: 20px;
}

tr {
    border: 2px rgba(30, 30, 30, 1.0) solid;
}

td {
    padding: 5px;
}

td a {
    font-size: 1.2em;
    text-decoration: none;
    color: cornflowerblue;
}

.label {
    border-right: 2px rgba(70, 70, 70, 1.0) dashed;
}
